*{
    display: flex;
    margin-right: 10px;
    margin-bottom: 10px;
}

.left img{
    display: inline-block;
    height: 300px;
}

.right{
    display: inline-block;
    height: 300px;
}

.rating{
    color: crimson;
}